* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: rgba(143, 195, 255, 0.541);
}

.header h1 {
    font-size: 45px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: bold;
}

.sectionOqueE {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 70px 50px 80px 50px;
    background-color: #f5f5f5; 
}

.sectionOqueE h1 {
    font-family: "Michroma", sans-serif;
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom: 25px; 
    text-align: center;
    color: #222;
}

.sectionOqueE p {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    line-height: 1.7;
    color: #333;
    max-width: 90%; 
    text-align: justify;
}

.imagensSection1 {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 30px; 
    margin-top: 40px;
    flex-wrap: wrap;
}

.imagensSection1 img {
  width: 400px;
  height: auto;
  border-radius: 10px;  
}

.sectionComponentes {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 70px 50px 80px 50px;
    background-color: #f5f5f5; 
}

.sectionComponentes h1 {
    font-family: "Michroma", sans-serif;
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom: 25px; 
    text-align: center;
    color: #222;
}

.sectionComponentes p {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    line-height: 1.7;
    color: #333;
    max-width: 90%; 
    text-align: justify;
}

.sectionComoFunciona {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 70px 50px 80px 50px;
    background-color: #f5f5f5; 
}

.sectionComoFunciona h1 {
    font-family: "Michroma", sans-serif;
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom: 25px; 
    text-align: center;
    color: #222;
}

.sectionComoFunciona p {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    line-height: 1.7;
    color: #333;
    max-width: 90%; 
    text-align: justify;
}
